body {
  background-color: black;
  color: white;
  font-family: unset;
}

.vertical{
  margin: auto;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: xx-large;
  border-style: solid;
  border-color: white;
}
